<a href="https://colab.research.google.com/github/Yogesh6301/Tic_Tac_toe_Using_Decision_Tree_Algorithms/blob/main/Tic_Tac_Toe_Game_using_Decision_Tree_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

In [11]:
from google.colab import files
uploaded = files.upload()

Saving tic-tac-toe-endgame.csv to tic-tac-toe-endgame.csv

In [13]:
df = pd.read_csv("/content/tic-tac-toe-endgame (1).csv")

In [14]:
df

    V1 V2 V3 V4 V5 V6 V7 V8 V9       V10
0    x  x  x  x  o  o  x  o  o  positive
1    x  x  x  x  o  o  o  x  o  positive
2    x  x  x  x  o  o  o  o  x  positive
3    x  x  x  x  o  o  o  b  b  positive
4    x  x  x  x  o  o  b  o  b  positive
..  .. .. .. .. .. .. .. .. ..       ...
953  o  x  x  x  o  o  o  x  x  negative
954  o  x  o  x  x  o  x  o  x  negative
955  o  x  o  x  o  x  x  o  x  negative
956  o  x  o  o  x  x  x  o  x  negative
957  o  o  x  x  x  o  o  x  x  negative

[958 rows x 10 columns]

In [15]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [16]:
Le = LabelEncoder()

In [17]:
for i in df.columns:
  Le = LabelEncoder()
  df[i] = Le.fit_transform(df[i])

In [18]:
df

     V1  V2  V3  V4  V5  V6  V7  V8  V9  V10
0     2   2   2   2   1   1   2   1   1    1
1     2   2   2   2   1   1   1   2   1    1
2     2   2   2   2   1   1   1   1   2    1
3     2   2   2   2   1   1   1   0   0    1
4     2   2   2   2   1   1   0   1   0    1
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
953   1   2   2   2   1   1   1   2   2    0
954   1   2   1   2   2   1   2   1   2    0
955   1   2   1   2   1   2   2   1   2    0
956   1   2   1   1   2   2   2   1   2    0
957   1   1   2   2   2   1   1   2   2    0

[958 rows x 10 columns]

In [19]:
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [21]:
trainX, testX, trainY, testY = train_test_split(x, y, test_size = 0.3)

In [23]:
from sklearn.tree import DecisionTreeClassifier

In [24]:
model = DecisionTreeClassifier()
model = model.fit(trainX, trainY)

In [25]:
testGame = [1, 0, 2, 1, 2, 0, 1, 2, 0]

In [26]:
model.predict([testGame])

array([0])

In [27]:
### Accuracy

In [28]:
pred = model.predict(testX)

In [29]:
from sklearn.metrics import accuracy_score

In [30]:
accuracy_score(pred, testY)

0.8402777777777778